# Ignore Gradle project-specific cache directory
.gradle
.gradletasknamecache

# Ignore Gradle build output directory
build

*~
.idea
schema.dl
logic-out.dl
src/main/resources/logic*
src/main/resources/parsers
workspace
extra-grammars/solidity/solidity.jar